
h2.entry-title { letter-spacing: normal; }

.tg-grid-area-bottom1 { margin-top: 20px; }
.entry-header ul.tag {
  font-family: 'Gilroy';
}

span.tg-item-term.language { display: none !important; }
.tg-cats-holder > span:last-child:not(.category) { display: none !important; }
.tg-cats-holder > span.category { position: relative; }
.tg-cats-holder > span.category:not(:first-child):before { position: relative; content: ','; padding-right: 5px; }

.posts_page { padding-bottom: 30px; }
.posts_page #grid-1712 .tg-nav-color { color: #000; }
.single .status-publish .post-image span { display: none; }
.posts_page .news-slider-top { margin-bottom: 30px; }
.posts_page .news-slider-top .container { padding: 0; }
.single .status-publish .entry-content { padding: 0; font-family: 'Gilroy'; font-weight: 300; font-style: normal; font-size: 19px; }
.single .status-publish .entry-header, .posts_page .head h1 { font-family: 'Gilroy'; font-weight: 600; }
.full_post strong, .full_post .entry-header h1 { font-family: 'Gilroy'; font-weight: 600; }

.entry-header ul.tag { margin: 0; padding: 0; position: relative; top: -10px; font-weight: normal; left: 0; }
.entry-header ul.tag li { display: inline-block; padding: 0; margin: 0; font-size: 12px; color: #9e9e9e; padding: 0 13px; font-style: italic; position: relative; }
.entry-header ul.tag li:after { position: absolute; content: '/'; color: #dcdcdc; right: -5px; top: 1px; }
.entry-header ul.tag li a { color: #9e9e9e; }
.entry-header ul.tag li:last-child { padding-right: 0; }
.entry-header ul.tag li:last-child:after { display: none; }
.entry-header ul.tag li:first-child { padding-left: 0; }
.entry-header ul.tag li.date { min-height: auto; font-weight: normal; }
.entry-header ul.tag li span i { padding-right: 7px; }

.full_post { width: 100%; padding: 0; }
.full_post .news_sidebar { padding: 25px 0 35px 0; }
.full_post .entry-header { text-align: center; }
.full_post .entry-header h1 { color: #0048ff; font-weight: 600; }
.full_post .container { max-width: 940px; }
.full_post #content-page { max-width: 100%; position: relative; }
.full_post .content-area { padding: 40px 0; }

.single .content-area { overflow: visible; }
.single .status-publish { background: none; box-shadow: none; border-radius: 0; margin-bottom: 0; overflow: visible; }
.single .post-image span { right: auto; left: 50%; transform: translateX(-50%); }
.single .post-image img { margin: 0 auto 30px auto; }
.single .entry-content { padding: 0; }
.single .post-image img { box-shadow: 0px 22px 90px 0px rgba(0, 0, 0, 0.25); border-radius: 10px; }


/*Related posts*/
.related_posts { padding: 25px 0; }
.related_posts ul { display: grid; grid-template-columns: 1fr 1fr 1fr; grid-column-gap: 10px; }
.related_posts ul li a { color: #000; font-weight: bold; font-size: 14px; display: grid; grid-template-columns: 80px 1fr; grid-column-gap: 20px; align-items: center; }
.related_posts ul li a:hover { text-decoration: none; }
.related_posts ul li .post-thumb { width: 80px; height: 80px; border-radius: 50%; position: relative; overflow: hidden; }
.related_posts ul li .post-thumb img { display: block; max-width: 242%; max-height: 100%; position: absolute; top: 0; bottom: 0; left: -121%; right: 0; }
.related_posts ul li .date_publ { position: relative; padding-left: 18px; color: #9e9e9e; font-weight: normal; margin-top: 5px; font-style: italic; display: block; font-size: 12px; }
.related_posts ul li .date_publ:before { position: absolute; content: "\f073"; font-family: FontAwesome; color: #ababab; left: 0; font-style: normal; top: 50%; transform: translateY(-11px); }

.wp-tag-cloud li { display: inline-block; border: 1px solid #e0e0e0; padding: 3px 12px; border-radius: 30px; display: inline-block; margin-bottom: 4px; }
.wp-tag-cloud li a { color: #010101; }
.wp-tag-cloud li:hover { background: #0048ff; border-color: #0048ff; }
.wp-tag-cloud li:hover a { color: #fff; }

.w_soc { display: grid; grid-template-columns: auto auto auto 1fr; text-align: center; grid-column-gap: 15px; }
.w_soc li a { transition: 0.3s all; }
.w_soc li a:hover { transform: scale(1.2); }
.w_soc li.insta a { color: #fff; background: #e1306c; }
.w_soc li.yt a { color: #fff; background: #ff0000; }
.w_soc li.fb a { color: #fff; background: #3b5998; }
.w_soc a { display: grid; width: 42px; height: 42px; color: #676767; text-align: center; vertical-align: middle; border-radius: 50%; align-items: center; }

.tg-page-number.tg-page-current { color: #fff !important; background: #0048ff; border-radius: 30px; }

.tg-nav-color:not(.dots):not(.tg-dropdown-value):not(.tg-dropdown-title):hover { color: #0048ff !important; }

.posts_page .widget-title { letter-spacing: normal; font-size: 14px; text-transform: uppercase; letter-spacing: 2.4px; padding-bottom: 18px; color: #0048ff; }
.posts_page .block_search { padding-bottom: 40px; }
.posts_page .srpw-block li { display: grid; grid-template-columns: auto 1fr; }
.posts_page .srpw-clearfix::before, .posts_page .srpw-clearfix::after { display: none !important; }
.posts_page .srpw-thumbnail { border-radius: 50%; }
.posts_page .srpw-block a.srpw-title { color: #000; }
.posts_page .srpw-block li { border-bottom: 1px solid #efefef; }
.posts_page .srpw-block li:last-child { border: 0; }
.posts_page .srpw-time { position: relative; padding-left: 18px; color: #9e9e9e; font-style: italic; font-size: 12px; }
.posts_page .srpw-time:before { position: absolute; content: "\f073"; font-family: FontAwesome; color: #ababab; left: 0; font-style: normal; }
.posts_page div.asl_w { border: 1px solid #e0e0e0; border-radius: 30px; height: auto; padding: 12px; box-sizing: border-box; box-shadow: none; }
.posts_page .tg-grid-holder { left: 0 !important; }
.posts_page .head { padding: 45px 0; }
.posts_page .head h1 { letter-spacing: normal; color: #0048ff; }
.posts_page .head > p { color: #6c6c6c; text-transform: uppercase; font-size: 14px; font-weight: 300; }
.posts_page .container > .content { display: grid; grid-template-columns: 68% 32%; }
.posts_page.no-sidebar .container > .content { display: grid; grid-template-columns: 1fr; }
.posts_page .content { font-weight: 600; }
.posts_page .container > .content .news .tg-item { border-radius: 0px; overflow: hidden; box-shadow: none; }
.posts_page .container > .content .news .tg-maren-new .tg-element-3 { padding-top: 0; padding-bottom: 0px; line-height: normal; }
.srpw-meta, .wp-tag-cloud li a { font-family: 'Gilroy'; font-weight: 300; font-style: normal; }
.tg-txt .tg-nav-font { font-weight: normal; }
.posts_page .container > .content .news .tg-item-content-holder { background: none !important; font-family: 'Gilroy'; font-weight: 300; font-style: normal; }
.posts_page .content .news .tg-maren-new .tg-item-content-holder[data-position="bottom"] { padding: 15px 0 0 0; min-height: 95px; }
.posts_page .content .news .tg-item-title.tg-element-3 a { font-size: 18px; color: #010101 !important; line-height: 1.2; text-transform: none; font-weight: 600;  }
.posts_page .content .news img.tg-item-image { border-radius: 0px; }
.posts_page .content .news .tg-layout-masonry .tg-item-media-holder { border-radius: 0px; overflow: hidden; }
.posts_page .content .sidebar { padding-left: 20px; }
.posts_page .content .sidebar > aside { padding-bottom: 40px; }
.posts_page .content .sidebar > aside:last-child { padding: 0; }
.posts_page .content .sidebar .all_posts { text-align: center; }
.posts_page .content .sidebar .all_posts a { display: inline-block; color: #c3c3c3; padding: 5px 20px; border: 1px solid #e1e1e1; border-radius: 30px; font-size: 14px; margin-top: 5px; transition: 0.3s all; }
.posts_page .content .sidebar .all_posts a:hover { color: #fff; background: #0048ff; border-color: #0048ff; }

  @media (max-width: 992px) { .posts_page .container > .content { grid-template-columns: 1fr; grid-row-gap: 30px; }
  .posts_page .content .sidebar { padding-left: 0; padding-bottom: 30px; }
    .related_posts ul { grid-template-columns: 1fr; grid-row-gap: 30px; }
}

@media (max-width: 768px) {
	.full_post { margin: 0; width: 100%; }
	body.page-template-page-news-blog, body.post-template-default { background: #fff !important; }
	#content-news { padding-top: 0; }
}
