/* @font-face {
    font-family: 'radomir-tinkov-gilroy-extrabold';
    src: url('../assets/fonts/radomir-tinkov-gilroy-extrabold.eot');
    src: local('��'), url('../assets/fonts/radomir-tinkov-gilroy-extrabold.woff') format('woff'), url('../assets/fonts/radomir-tinkov-gilroy-extrabold.ttf') format('truetype'), url('../assets/fonts/radomir-tinkov-gilroy-extrabold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} */
@font-face {
    font-family: 'radomir-tinkov-gilroy-light';
    src: url('../assets/fonts/radomir-tinkov-gilroy-light.eot');
    src: local('��'), url('../assets/fonts/radomir-tinkov-gilroy-light.woff') format('woff'), url('../assets/fonts/radomir-tinkov-gilroy-light.ttf') format('truetype'), url('../assets/fonts/radomir-tinkov-gilroy-light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'radomir-tinkov-gilroy-extrabold';
    /*font-family: 'Gilroy-SemiBold';*/
    src: url('../assets/fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/Gilroy-SemiBold.otf') format('opentype'),
    url('../assets/fonts/Gilroy-SemiBold.woff') format('woff'), url('../assets/fonts/Gilroy-SemiBold.ttf') format('truetype'), url('../assets/fonts/Gilroy-SemiBold.svg#Gilroy-SemiBold') format('svg');
    font-weight: normal;
    font-style: normal;
}
