/*Search by Alexander O.*/

.lux_search {
	position: absolute;
	text-align: center;
	line-height: 32px;
	width: 32px;
	height: 100%;
	top: 0;
	right: 0;
	transition: 0.5s all; 
	overflow: hidden; 

	.button {
		position: absolute;
		right: 0; 
		z-index: 9;
		background: #fff;
		width: 32px;
		background: #fff;
		top: 0;
		height: 100%;

		span {
			display: inline-block;
			top: calc(50% - 15px);
			height: 32px;
			position: relative; 
			/*background: #f0f6f8;*/
			width: 32px;
			border-radius: 30px;
			cursor: pointer;
			transition: 0.1s all;
/*			-webkit-animation-duration: 1s;
			  animation-duration: 1s;
			  -webkit-animation-fill-mode: both;
			  animation-fill-mode: both;
			  -webkit-animation-timing-function: ease-in-out;
			  animation-timing-function: ease-in-out;
			  animation-iteration-count: infinite;
			  -webkit-animation-iteration-count: infinite;*/

			&:hover {
				cursor: pointer;
				transform: scale(1.2);
/*  				animation-name: bounce;
  				-moz-animation-name: bounce;*/
			}

			i {
				color: #15acf2;
				font-size: 20px;
			}
		}
	}
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-8px);
		-ms-transform:     translateY(-8px);
		transform:         translateY(-8px)
	}
	60% {
		-webkit-transform: translateY(-4px);
		-ms-transform:     translateY(-4px);
		transform:         translateY(-4px)
	}
}


.container.search {
	max-width: 640px;
}


.searchwp-live-search-results-showing { 
	z-index: 9999999 !important;
}

.open-search { overflow: hidden; }

/*search-modal*/
.search-open-bg {
  background: rgba(0, 0, 0, 0.9);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  padding: 30px;
  top: 0;
  z-index: -1;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  z-index: 99;
  display: none;

	&.open {
	    opacity: 1;
	    z-index: 999999;
	}
}

.search-open {
  bottom: 0;
  left: 0;
  padding: 1.875rem;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -1;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  -webkit-transition-property: opacity, transform, -webkit-transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%); 

  .icon--close {
  	fill: #fff;
  	display: inline-block;
  	position: relative;
  	right: 10px;
  	cursor: pointer;
  	z-index: 99999;
  }

  .close-search { 
		text-align: right;
		
	}

	.modalClose {
	    bottom: 0;
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 0; 
	}

	&.open {
	    -webkit-transform: translateY(0);
	    -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	    -o-transform: translateY(0);
	    transform: translateY(0);
	    z-index: 999999;
	}

	.text-center {
	    color: #f1f1f1;
	    font-size: 24px;
	    line-height: 30px;
	    margin: 1em 0;
	}

	.searchform {
	    margin: auto;
	    max-width: 1000px;
	    width: 80%; 

	    input {
		      background: transparent;
		      border: 1px solid rgba(255, 255, 255, 0.3);
		      color: #fff;
		      font-family: "GothamProBold";
		      font-size: 80px;
		      outline: none;
		      padding: 20px;
		      text-align: center;
		      width: 100%; 
  		}
	}

	.search-modal-inner {
	    left: 0;
	    padding: 10px;
	    position: absolute;
	    right: 0;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	    -moz-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	    -o-transform: translateY(-50%);
	    transform: translateY(-50%); 
	}

	div.asl_w .probox, div.asl_w .probox .promagnifier, div.asl_w { 
		box-shadow: none; 
		border: none;
		background-color: transparent;
	}

	div.asl_m .probox .proclose svg {
		box-shadow: none;
		background: none;
	}

	#ajaxsearchlite1 {
		border: 1px solid rgba(255, 255, 255, 0.11);
		padding: 30px;

	}

	#ajaxsearchlite1 .probox, div.asl_w .probox {
	    margin: 0;
	    height: 28px;
	    background-color: transparent;
	    border: 0 none #fff;
	    border-radius: 0 0 0 0;
	    box-shadow: 0 0 0 0 #b5b5b5 inset;
	}

	#ajaxsearchlite1 .probox .proinput input, div.asl_w .probox .proinput input {
		color: #fff !important;
		font-size: 18px;

		&::placeholder {
			color: #ffffff4d !important;
			font-size: 18px;
		}
	}

	div.asl_w {
    	width: auto !important;
	}

	div.asl_m .probox .promagnifier .innericon svg {
		width: 32px;
	}

	div.asl_w .probox div.asl_simple-circle {
    	border: 4px solid #fff3;
	}

	div.asl_m .probox .proclose svg {
	    width: 24px;
	    height: 24px;
	    margin-top: -12px;
	    fill: #fefefe4d;
	}

	div.asl_w .probox .promagnifier .innericon svg {
    	fill: #fff9;
	}

}

.search-open.open-full .search-modal-inner {
	top: 16%;
	transition-duration: 300ms;
}

@media (min-width: 992px) {

}

@media (max-width: 768px) {
	.search-open .search-modal-inner {
		top: 16%;
	}

	.search-open #ajaxsearchlite1 {
		padding: 12px;
	}

	.search-open .text-center {
		display: none;
	}


}


/*Results page - Search*/
.search-post {
	display: grid;
	grid-template-columns: 300px 1fr;
	/*grid-column-gap: 20px;*/
	background: #fff;
	box-shadow: 0 9px 25px 0px #0000001a;
	margin-bottom: 30px;
	border-radius: 6px;

	& > div:nth-child(1) {
		position: relative;
		overflow: hidden;
		min-height: 170px;

		img {
			position: absolute;
			width: 150%;
			left: -75%;
			transform: translateX(30%);
			top: -2px;
			max-width: none;
		}
	}

	& > div:nth-child(2) {
		padding: 20px;
	}

	.entry-header {
		display: block;
	}

	h2 {
	    font-size: 18px;
	    font-family: 'Montserrat';
	    line-height: normal;
	    font-weight: 500;
	    margin-bottom: 14px;

	    a {
	    	color: #000;
	    }
	}

	.entry-summary {
		font-size: 15px;
	}
}

.pagination {

	h2 {
		display: none;
	}

	.nav-links {
		display: inline-block;
		margin: 0 auto 20px auto;

		a {
			&.page-numbers {
			    display: inline-block;
			    background: #15acf2;
			    color: #fff;
			    padding: 8px 16px;
			    border-radius: 30px;
			    min-width: 40px;
			    text-align: center;
			    margin: 0 3px;
			    box-shadow: 3px 5px 15px 0px rgba(75, 75, 75, 0.29);

			}
		}

		span.current {
			    display: inline-block;
			    background: #b4b4b41a;
			    color: #4c4c4c;
			    padding: 8px 16px;
			    border-radius: 30px;
			    min-width: 40px;
			    text-align: center;
			    margin: 0 3px;
			    box-shadow: 3px 5px 15px 0px rgba(75, 75, 75, 0.29);
		}


	}
}

@media (max-width: 992px) {
	.lux_search {
		position: absolute;
		right: 70px;
	}
	.search-post {
		display: grid;
		grid-template-columns: 1fr;

		& > div:nth-child(1) {
			position: relative;
			overflow: hidden;
			min-height: 170px;

		img {
			position: relative;
			width: 100%;
			left: 0;
			transform: translateX(0%);
			top: 0;
			max-width: none;
		}
	}
	}
}